.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

#sublinhado {
    text-decoration: underline;
}

#blue {
    color: blue
}

#green {
    color: green
}

#yellow {
    color: yellow
}

#maiusculo {
    text-transform: uppercase;
}

#shadow {
    text-shadow: 2px 2px red;
    ;
}